Source: gistore
Section: python
Priority: optional
Maintainer: Jiang Xin <worldhello.net@gmail.com>
Build-Depends: debhelper (>= 5.0), cdbs (>= 0.4.43), quilt (>= 0.40)
Build-Depends-Indep: python, python-central (>= 0.5), python-setuptools
Standards-Version: 3.8.0
XS-Python-Version: all
Homepage: http://www.ossxp.com/

Package: gistore
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Description: Backup system based on Git
 Gistore is a backup system with a DVCS as backend, and git is highly
 recommended. Orignally or currently only git is supportted. So, you
 must have git installed. For git installation, see http://git-scm.com/.


