#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/rules/patchsys-quilt.mk

binary-fixup/gistore::
	chmod a+x debian/gistore/usr/lib/gistore/bin/gistore
	rm debian/gistore/usr/lib/gistore/lib/gistore/cmd/update.rb

test:
	cd t && make

# vim: noet ts=4 sw=4
